@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/Proxima-Nova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#gal{
  position: static;
  display: none;
  z-index: 200;
}

.st0{fill:none;stroke:#fa7268;stroke-miterlimit:0;stroke-width:5px;stroke-dasharray: 0; stroke-dashoffset: 0;
  animation: dash 3s ease-in;

}
  .st1{fill:none;stroke:#000000;stroke-miterlimit:10;stroke-width:1px;stroke-dasharray: 15;
    animation: dash 5s ease-out;
  }


section{

}

  html {
      scroll-behavior: smooth;
    }

body {
  background-color: #fff8e7;
  margin:0;
  padding: 0;
  min-height: 130vw;
}

#container {
width:80vw;
margin: auto;
margin-left: 5%;
margin-top:5%;
  -webkit-column-count: 2;
  -moz-column-count:    2;
  column-count:         2;

}

.photo {
width: 100%;
padding:0;
padding-top: 2%;
margin: 0;
}



nav{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  position: fixed;
  width: 100vh;
  bottom: 0;
  right: 7%;
  line-height: 3em;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  background-color: #fff8e7;
  color: #1E2952;

}
nav a{
  text-decoration: none;
  color:black;
  padding:0 15px 0 15px;
      font-family: 'ProximaNova';
    font-weight: 500;
    font-style: normal;
    font-size:1.3em;
    z-index: 100;
}

.sidebarnav{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  position: fixed;
  width: 100vh;
  bottom: 0;
  right:100%;
  line-height: 3em;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  background-color: #fff8e7;
  color: #1E2952;
}
.sidebarnav{
  text-decoration: none;
  color:black;
  padding:0 15px 0 15px;
      font-family: 'ProximaNova';
    font-weight: 500;
    font-style: normal;
    font-size:1.3em;
    z-index: 100;
}


h1 {
  font-family: 'ProximaNova';
  font-weight: normal;
  font-style: normal;
  font-size:10vw;
  margin:0;
  padding: 100px;
  pointer-events: none;
}

h2 {
  font-family: 'ProximaNova';
  font-weight: normal;
  font-style: normal;
  font-size:8em;
padding: 10vw;
  position: absolute;

}
.logo {
  display: block;
   margin-left: 35vw;
   margin-right: auto;
   width: 50%;
   padding-top:20%;
}


#contacts{
  position: relative;
  bottom:10vw;
  pointer-events: none;
  font-size: 5vw;
}

#motto{
position: relative;
font-size: 5vw;
pointer-events: none;

}

#side{
  position: relative;
  transform: rotate(-90deg);
  left:5vw;
  top:5vw;
  transform-origin: 0% 0%;
}
#homepage{
  background-color: #fff8e7;
  padding:0;
  margin:0;
  height: 100vh;
}
#rectangle{
  background-color: lightgreen;
  width:60%;
  margin:0 auto;
}
#project{
    background-color: #FA7268;
    height: 100vh;
}

#contact{
    height: 100vh;
      background-color: #aaf0d1:
}
a{font-size: 3vw;}
.text{padding:10vw;}
.graphic{padding:10vw;}
#newsblock{

   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   color:transparent;

}
.article{
border-style: dotted;
  -webkit-border-radius       :   3px;
  -moz-border-radius          :   3px;
  border-radius               :   3px;

}
.g6{
  border: 3px solid #fa7268;
  padding: 15px;
}


.icon1{
  width: 50px;
  vertical-align: middle;
  margin-left: 10px;
}

.icon2{
  width: 50px;
  vertical-align: middle;
}

.icon3{
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
.shr{
display:inline-block;
  width:3vw;
margin:0;
margin-left: 20px;
padding: 0;
border: 2px solid #fa7268;
vertical-align: middle;
}
.shr2{
display:inline-block;
  width:3vw;
  margin:0;
margin-right: 20px;
padding: 0;
border: 2px solid #fa7268;
vertical-align: middle;
}
.sidebarnav{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  position: fixed;
  width: 100vh;
  bottom: 0;
  right:100%;
  line-height: 1em;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  color:#fa7268;
  text-decoration: none;
  padding:0 5px 0 5px;
  font-family: 'ProximaNova';
  font-weight: 500;
  font-style: normal;
  font-size:1.2em;
background-color: #fff8e7;

}


/*column count media quaries */
@media (max-width: 1200px) {
  #container {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  width:80vw;
  }
}
